sudo: required

language: rust

# necessary for `travis-cargo coveralls --no-sudo`
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - binutils-dev # optional: only required for the --verify flag of coveralls
      - cmake
    sources:
      - kalakris-cmake

cache: cargo

rust:
  - stable

# load travis-cargo
before_script:
  - export PATH=$HOME/.cargo/bin:$PATH
  - cargo install cargo-update || echo "cargo-update already installed"
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cargo install cargo-travis || echo "cargo-travis already installed"; fi
  - cargo install-update -a # update outdated cached binaries

os:
  - linux
  - osx

script:
  - |
      cd hatch &&
      cargo build &&
      cargo test

after_success:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cargo coveralls; fi

branches:
  # This is where pull requests from "bors r+" are built.
  - staging
  # This is where pull requests from "bors try" are built.
  - trying
  - dev
