sudo: false

language: rust

# necessary for `travis-cargo coveralls --no-sudo`
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - binutils-dev # optional: only required for the --verify flag of coveralls

cache: cargo

rust:
- stable

# load travis-cargo
before_script:
  - |
      pip install 'travis-cargo<0.2' --user &&
      export PATH=$HOME/.local/bin:$PATH

script:
  - ./.travis_ci_helper.sh

branches:
  # This is where pull requests from "bors r+" are built.
  - staging
  # This is where pull requests from "bors try" are built.
  - trying
  - dev
